
.hero-content {
    width: 100%;
    height: 500px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #F8DCDC;
}


.hero-button {
    width: 140px;
    height: 140px;
    background-color: #EE404E;
    transform: rotate(-45deg);
    font-size: 40px;
    border-radius: 5px;
}
.hero-button span {
    transform: rotate(45deg);
    color: white;
}

.hero-button:hover {
    border: 3px solid white !important;
    color: black !important;
    font-size: 44px;
    background-color: aliceblue;
}
.hero-button:focus {
    /* border: 1px solid white;
    color: white !important; */
}